/*
Description: Style Sheet for the final project in Web for Business
Author: Samuel Hovland
Created: 4-30-2019
Last Edited:

Color Scheme:
Red: #FFCFC9
Yellow: #FFEED8
Green: #DDE2CC
Teal: #B1D3C7
Blue: #8BC1BA
*/
